* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(2, 28, 57);
    color: white;
    font-family: 'Poppins', sans-serif;

}

header {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid rgb(15, 43, 132);
    border-top: 1px solid rgb(15, 43, 132);
    background-color: rgb(15, 43, 132);

}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

nav ul li a:hover {
    font-size: 1.1em;
    color: rgb(175, 175, 230);
}

.left {
    font-size: 1.7em;

}

.left a {
    text-decoration: none;
    color: white;
    display: block;
}

.first {
    justify-content: space-around;
    display: flex;
    margin: 100px 0;
    align-items: center;

}

.first>div {
    width: 30%;
}

.lsec {
    font-size: 2.5em;

}

.lsec .btn {
    padding: 12px;
    background: rgb(18, 57, 103);
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;

}

.rsec img {
    width: 75%;
    margin: 5px 70px;
    border-radius: 200px;
    height: 340px;
    /* filter: drop-shadow(0px 0px 20px silver); */
}


.purple {
    color: rgb(30, 72, 213);
}

#element {
    color: rgb(30, 72, 213);
}

.second {
    max-width: 80vw;
    margin: auto;
    height: 97 vh;
}

main hr {
    border: 0;
    background: rgb(63, 91, 182);
    height: 1.2px;
    margin: 80px 84px;
}

footer {

    background-color: rgb(97, 133, 172);
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}



.footer_center {
    text-align: center;
    color: black;
    padding: 12px 0;
}

#preloader {
    background: #000f url(SVKl.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.text-pre {
    text-align: center;
    margin: 490px 0;
    font-size: 1.2em;
}